@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@400;500;600;700;800&display=swap');

.font-poppins{
    font-family: "Poppins", sans-serif;
}

.font-anton{
    font-family: 'Anton', sans-serif;
}

/* body{
    background-image: url("/images/background.png");
    /* We could also use this in the class declared in main using
    bg-[url(images/background.png)] 
} 
*/
